a1.sources = r1
a1.channels = c1
a1.sinks = k1

# Exec Source

a1.sources.r1.type = exec
a1.sources.r1.channels = c1
a1.sources.r1.shell = /bin/bash -c
a1.sources.r1.command = /home/arshaq/flume/catdata.sh

# Channels

a1.channels.c1.type = memory
a1.channels.c1.capacity = 10000
a1.channels.c1.transactionCapacity = 1000

# HDFS File Sink

a1.sinks.k1.channel = c1
a1.sinks.k1.type = hdfs
a1.sinks.k1.hdfs.callTimeout = 600
a1.sinks.k1.hdfs.fileType = DataStream
a1.sinks.k1.hdfs.filePrefix = flume-test
a1.sinks.k1.hdfs.fileSuffix = .txt
a1.sinks.k1.hdfs.inUseSuffix = .tmp
a1.sinks.k1.hdfs.useLocalTimeStamp = true


# Separate to different Folders Per Minute

a1.sinks.k1.hdfs.path = hdfs:///user/arshaq/flume/%Y%m%d%H%M


a1.sinks.k1.hdfs.writeFormat = Text
a1.sinks.k1.hdfs.batchSize = 1000

# File size to trigger roll, in bytes (256Mb)

a1.sinks.k1.hdfs.rollSize = 0

# Number of seconds to wait before rolling current file (in seconds)
# Wait for N min

a1.sinks.k1.hdfs.rollInterval = 0

# Number of rows to trigger roll

a1.sinks.k1.hdfs.rollCount = 40